<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Update page</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="./plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="./plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="./css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <p class="h1"><b> Phone Book </b ></p>
      </div>
      <div id="app" class="card-body">
        <form v-on:submit="acc()"  target="nm_iframe">
          <div class="input-group mb-3">
            <input v-model="username" type="text" class="form-control" name="username" placeholder="username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input v-model="password" type="password" class="form-control" name="password" placeholder="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input v-model="VerifyPassword" type="Password" class="form-control" name="VerifyPassword" placeholder="VerifyPassword">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input v-model="NewPhoneNumber" type="integrity" class="form-control" name="NewPhoneNumber" placeholder="NewPhoneNumber">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col" style="margin-top: 15px;">
              <button type="submit" class="btn btn-primary btn-block">Delete</button>
            </div>
          </div>
        </form>
        <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
        <div class="row">
        <div class="col" style="margin-top: 15px;">
          <button onclick="javascript:location.href='/'" class="btn btn-primary btn-block">Cancel</button>
        </div>
        </div>
    </div>
  </div>
  <!-- jQuery -->
  <script src="./plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="./plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
  <!-- AdminLTE App -->
  <script src="./js/adminlte.min.js"></script>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
          username: '',
          password: '',
          VerifyPassword: '',
          NewPhoneNumber: '',
          info: null
        },
        methods: {
            acc(response) {
          var postform = new FormData()
          postform.append('UserName',this.username)
          postform.append("Password",this.password)
          postform.append("NewPhoneNumber",this.NewPhoneNumber)
          postform.append("VerifyPassword",this.VerifyPassword)
          axios.post('https://phonebookapis.herokuapp.com/api/v1/pnbupdate/',postform)
          .then((response) => {
            this.info = response;
            alert(response.data.msg);
            if (response.data.msg == '成功修改') {
              location.href='/phonebookpage' 
            }
          });
          },
          
        }
        
    });
  </script>
</html>